<div class="sidebar">
    <ul class="menu-items">
        <li (click)="onClickDrop($event, 0)">
            <img src="/images/education-cap-svgrepo-com.svg" alt="academy">
            <span class="label">Онлайн академия</span>
            <div class="dropside addictional" #dropside>
                <ul class="menu-items">
                    <li><a href="#">Доступные курсы</a></li>
                    <li><a href="#">База знаний - библиотека</a></li>
                    <li><a href="#">Другие курсы к покупке</a></li>
                </ul>
            </div>
        </li>
        <li (click)="onClickDrop($event, 1)">
            <img src="/images/rehabilitation-training.svg" alt="traines">
            <span class="label">Тренировочный план</span>
            <div class="dropside addictional" #dropside>
                <ul class="menu-items">
                    <li><a href="#">Программы и курсы</a></li>
                    <li><a href="#">Тип Тренировок</a></li>
                </ul>
            </div>
        </li>
        <li (click)="onClickDrop($event, 2)">
            <img src="/images/result-svgrepo-com.svg" alt="results">
            <span class="label">Метрики/Результаты</span>
            <div class="dropside addictional" #dropside>
                <ul class="menu-items">
                    <li><a href="#">Академия</a></li>
                    <li><a href="#">База</a></li>
                    <li><a href="#">План питания</a></li>
                    <li><a href="#">Тренировочный план</a></li>
                    <li><a href="#">Отчетность</a></li>
                </ul>
            </div>
        </li>
        <li (click)="onClickDrop($event, 3)">
            <img src="/images/food-351.svg" alt="food">
            <span class="label">План питания</span>
            <div class="dropside addictional" #dropside>
                <ul class="menu-items">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
        </li>
        <li (click)="onClickDrop($event, 4)">
            <img src="/images/report-28.svg" alt="reports">
            <span class="label">Отчетность - Анкета</span>
            <div class="dropside addictional" #dropside>
                <ul class="menu-items">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="content">
    <p style="height: 2000px;">text</p>
</div>