<header class="header-banner-top">
    <h1 class="logo"><a class="logo-link">Dsign</a></h1>
    <div class="main-navigation header-nav container flex-container horizontal-nav">
        <input type="checkbox" name="mobile-menu-toggle" id="mobile-menu-toggle" class="mobile-menu-box" />
        <nav class="horizontal-nav primary-wrapper" role='navigation'>
            <ul class="header-menu flex-container">
                <li class="folder">
                    <input type="checkbox" name="folder-toggle-1" id="folder-toggle-1"
                        class="folder-toggle-box hidden" />
                    <label for="folder-toggle-1" class="folder-toggle-label"><a>NAREGYME</a></label>
                    <ul>
                        <li><a href="#">О проекте</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Инфографичнные метрики успехов проекта</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Успешные Кейсы (ДО / ПОСЛЕ)</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Приложение<br>
                                <!-- (Онлайн Академия /<br> Тренировки / Питание /<br> Результаты / Метрики /<br> Отчеты / Трекеры /<br> Наполнение) --></a>
                        </li>
                        <hr class="header-hr">
                        <li><a href="#">Программы и курсы (ТОП)</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Тренера и эксперты проекта</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Отзывы членов</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Мотивация (оффер)</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Часто задаваемые вопросы</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Присоединиться к сообществу </a></li>
                    </ul>
                </li>
                <li class="folder">
                    <input type="checkbox" name="folder-toggle-2" id="folder-toggle-2"
                        class="folder-toggle-box hidden" />
                    <label for="folder-toggle-2" class="folder-toggle-label"><a>RECAMP</a></label>
                    <ul>
                        <li><a href="#">О сообществе</a></li>
                        <hr class="header-hr">
                        <li><a href="#">RECOMPOZITION О системе — методике</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Дорожная карта проекта — этапы</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Фото и видео со встреч и мероприятий</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Присоединиться к сообществу </a></li>
                    </ul>
                </li>
                <li class="folder">
                    <input type="checkbox" name="folder-toggle-3" id="folder-toggle-3"
                        class="folder-toggle-box hidden" />
                    <label for="folder-toggle-3" class="folder-toggle-label"><a>Программы и курсы</a></label>
                    <ul>
                        <li><a href="#">О программах и курсах (Концепция)</a></li>
                    </ul>
                </li>
                <li><a class="header-menu-link">База знаний</a></li>
                <li><a class="header-menu-link">Магазин</a></li>
                <li class="folder">
                    <input type="checkbox" name="folder-toggle-2" id="folder-toggle-2"
                        class="folder-toggle-box hidden" />
                    <label for="folder-toggle-2" class="folder-toggle-label"><a>Калькуляторы</a></label>
                    <ul>
                        <li><a href="#">Процент жира в организме</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Основной обмен веществ</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Процент мышц в организме</a></li>
                        <hr class="header-hr">
                        <li><a href="#">ККал повседневной нагрузки</a></li>
                    </ul>
                </li>
                <li class="folder">
                    <input type="checkbox" name="folder-toggle-2" id="folder-toggle-2"
                        class="folder-toggle-box hidden" />
                    <label for="folder-toggle-2" class="folder-toggle-label"><a>Мы #NAREGYME</a></label>
                    <ul>
                        <li><a href="#">Результаты участиников (фильтры)</a></li>
                        <hr class="header-hr">
                        <li><a href="#">Доска почета</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <label for="mobile-menu-toggle" class="mobile-menu-label hidden"></label>
    </div>

    <div class="logged-in">
        <p> <a class="lk"> Hello, Amgalan </a></p>
        <button class="ghost-button sigh-out-button">Log out</button>
    </div>
</header>
<router-outlet />