.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100vh;
    background-color: gray;
    color: white;
    transition: width 1s ease;
    overflow: hidden;
    z-index: 10;
    padding-top: 15vh;


    &:hover {
        width: 250px;

        .dropside {
            background-color: rgb(33, 33, 33);
            display: none;
            position: fixed;
            min-width: 160px;
            height: 100vh;
            z-index: 13;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

            a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
        }

        .show {
            position: fixed;
            display: block;
            margin-left: 230px;
        }
    }

    .menu-title {
        height: 10vh;
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .menu-items {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-items li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .menu-items .label {
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    &:hover .menu-items .label {
        opacity: 1;
    }

    .menu-items li:hover {
        background-color: rgb(92, 92, 92);
    }

    .menu-items img {
        width: 60px;
        height: 60px;
    }


}

.content {
    margin-left: 90px;
    padding: 20px;
    width: 100vh;
    transition: margin-left 1s ease;
}