<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

<div class="content">
    <ul>
        <li>
            <app-about-project></app-about-project>
        </li>
        <li>
            <app-info-metrics></app-info-metrics>            
        </li>
        <li>
            <app-successful-cases></app-successful-cases>
        </li>
        <li>
            <app-app></app-app>
        </li>
        <li>
            <app-programms-courses></app-programms-courses>
        </li>
        <li>
            <app-trainers-and-experts></app-trainers-and-experts>
        </li>
        <li>
            <app-reviews></app-reviews>
        </li>
        <li>
            <app-motivation></app-motivation>
        </li>
        <li>
            <app-freq-asked-questions></app-freq-asked-questions>
        </li>
        <li>
            <app-join-to-community></app-join-to-community>
        </li>
    </ul>
</div>