<div class="sidebar">
    <ul class="menu-items">
        <li>
            <img src="/images/education-cap-svgrepo-com.svg" alt="academy">
            <span class="label">Онлайн академия</span>
        </li>
        <li>
            <img src="/images/svg-for-fitness-dairy-site-trainig-svg-need-for-sidebar.svg" alt="traines">
            <span class="label">Тренировочный план</span>
        </li>
        <li>
            <img src="/images/result-svgrepo-com.svg" alt="results">
            <span class="label">Метрики/Результаты</span>
        </li>
        <li>
            <img src="/images/noun-apple-75282.svg" alt="food">
            <span class="label">План питания</span>
        </li>
        <li (click)="onClickDrop()">
            <img src="/images/report-28.svg" alt="reports">
            <span class="label" >Отчетность - Анкета</span>
            <div class="dropside" #dropside >
                <a >1</a>
                <a >2</a>
                <a >3</a>
            </div>
        </li>
    </ul>

</div>

<div class="content">
    <h1>Содержимое страницы</h1>
    <p>Прокручиваемый текст...</p>
    <p style="height: 2000px;"></p>
</div>