<!-- <p>О проекте</p>
<div class="">
    <div class="card-img">
        <p>Картинка</p>
    </div>
    <div class="card-text">
        <p>Текст</p>
    </div>
</div> -->

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body text-center">
                    <h5 class="my-3">image</h5>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="my-3">card</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="my-3">card</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card-body text-center">
                    <h5 class="my-3">image</h5>
                </div>
            </div>
        </div>
    </div>
</section>