<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

<div class="d-flex justify-content-center align-items-center min-vh-100 bg-dark">
  <div class="forgot-card p-4 rounded-4 shadow-lg">

    <form *ngIf="step === 'email'" [formGroup]="emailForm" (ngSubmit)="sendCode()" class="text-center">
      <fieldset>
        <legend class="mb-4 text-white">Forgot Password</legend>

        <div class="mb-3 text-start">
          <label for="email" class="form-label text-white">Enter your email</label>
          <input id="email" type="email" class="form-control" formControlName="email">
          <div class="text-danger mt-1 small"
            *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
            <div *ngIf="emailForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="emailForm.get('email')?.errors?.['email']">Please enter a valid email.</div>
          </div>
        </div>

        <div class="d-grid">
          <button class="btn btn-orange" [disabled]="!emailForm.valid">Send Code</button>
        </div>
      </fieldset>
    </form>

    <!-- step 2 -->
    <form *ngIf="step === 'code'" [formGroup]="codeForm" (ngSubmit)="confirmCode()" class="text-center">
      <fieldset>
        <legend class="mb-4 text-white">Enter Confirmation Code</legend>

        <div class="mb-3 text-start">
          <label for="code" class="form-label text-white">Code</label>
          <input id="code" type="text" class="form-control" formControlName="code">
          <div class="text-danger mt-1 small" *ngIf="codeForm.get('code')?.invalid && codeForm.get('code')?.touched">
            <div *ngIf="codeForm.get('code')?.errors?.['required']">Code is required.</div>
            <div *ngIf="codeForm.get('code')?.errors?.['minlength']">
              Code must be at least 4 characters.
            </div>
          </div>
        </div>

        <div class="d-grid">
          <button class="btn btn-orange" [disabled]="!codeForm.valid">Confirm</button>
        </div>
      </fieldset>
    </form>

    <!-- step 3 -->
    <form *ngIf="step === 'password'" [formGroup]="newPassForm" (ngSubmit)="setNewPassword()" class="text-center">
      <fieldset>
        <legend class="mb-4 text-white">Enter New Password</legend>

        <div class="mb-3 text-start">
          <label for="password" class="form-label text-white">Password</label>
          <input id="password" type="text" class="form-control" formControlName="password">
          <div class="text-danger mt-1 small"
            *ngIf="newPassForm.get('password')?.invalid && newPassForm.get('password')?.touched">
            <div *ngIf="newPassForm.get('password')?.errors?.['required']">Code is required.</div>
            <div *ngIf="newPassForm.get('password')?.errors?.['minlength']">
              Password must be at least 8 characters.
            </div>
          </div>
        </div>

        <div class="mb-3 text-start">
          <label for="passwordConiform" class="form-label text-white">Password coniform</label>
          <input id="passwordConiform" type="text" class="form-control" formControlName="passwordConiform">

          <div class="text-danger mt-1 small"
            *ngIf="newPassForm.get('passwordConiform')?.touched && newPassForm.get('passwordConiform')?.errors">
            <div *ngIf="newPassForm.get('passwordConiform')?.errors?.['required']">
              Password confirm is required.
            </div>
            <div *ngIf="newPassForm.get('passwordConiform')?.errors?.['minlength']">
              Must be at least 8 characters.
            </div>
          </div>

          <div class="text-danger mt-1 small" *ngIf="newPassForm.errors?.['passwordMismatch'] 
              && newPassForm.get('passwordConiform')?.touched">
            Passwords must match.
          </div>
        </div>

        <div class="d-grid">
          <button class="btn btn-orange" [disabled]="!newPassForm.valid">Confirm</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>