<div class="d-flex justify-content-center align-items-center bg-dark content">
  <div class="forgot-card p-4 rounded-4 shadow-lg" style="min-width: 300px; max-width: 35%">

    <form *ngIf="step === 'email'" [formGroup]="emailForm" (ngSubmit)="sendCode()" class="text-center">
      <fieldset>
        <legend class="mb-4 text-white">Забыл пароль</legend>

        <div class="mb-3 text-start">
          <label for="email" class="form-label text-white">Введите ваш email</label>
          <input id="email" type="email" class="form-control" formControlName="email">
          <div class="text-danger mt-1 small"
            *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
            <div *ngIf="emailForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="emailForm.get('email')?.errors?.['email']">Пожалуйста, введите правльную почту.</div>
          </div>

           <div class="text-danger mt-1 small" *ngIf="this.isError">
            Неверный email. Проверьте написание или обратитесь в поддержку.
          </div>
        </div>

        <div class="d-grid">
          <button class="btn btn-orange" [disabled]="!emailForm.valid">Send Code</button>
        </div>
      </fieldset>
    </form>

    <!-- step 2 -->
    <form *ngIf="step === 'code'" [formGroup]="codeForm" (ngSubmit)="confirmCode()" class="text-center"
      style="min-width: 300px; max-width: 35%">
      <fieldset>
        <legend class="mb-4 text-white">Введите код подтверждения</legend>

        <div class="mb-3 text-start">
          <label for="code" class="form-label text-white">Code</label>
          <input id="code" type="text" class="form-control" formControlName="code">
          <div class="text-danger mt-1 small" *ngIf="codeForm.get('code')?.invalid && codeForm.get('code')?.touched">
            <div *ngIf="codeForm.get('code')?.errors?.['required']">Code is required.</div>
            <div *ngIf="codeForm.get('code')?.errors?.['minlength']">
              Код должен содержать более 4 символов.
            </div>
          </div>

          <div class="text-danger mt-1 small" *ngIf="!this.isCodeValid">
            Неверный код.
          </div>
        </div>

        <div class="d-grid">
          <button class="btn btn-orange" [disabled]="!codeForm.valid">Confirm</button>
        </div>
      </fieldset>
    </form>

    <!-- step 3 -->
    <form *ngIf="step === 'password'" [formGroup]="newPassForm" (ngSubmit)="setNewPassword()" class="text-center"
      style="min-width: 300px; max-width: 35%">
      <fieldset>
        <legend class="mb-4 text-white">Введите новый пароль</legend>

        <div class="mb-3 text-start">
          <label for="password" class="form-label text-white">Password</label>
          <input id="password" type="text" class="form-control" formControlName="password">
          <div class="text-danger mt-1 small"
            *ngIf="newPassForm.get('password')?.invalid && newPassForm.get('password')?.touched">
            <div *ngIf="newPassForm.get('password')?.errors?.['required']">Code is required.</div>
            <div *ngIf="newPassForm.get('password')?.errors?.['minlength']">
              Пароль должен содержать более 8 символов.
            </div>
          </div>
        </div>

        <div class="mb-3 text-start">
          <label for="passwordConiform" class="form-label text-white">Password coniform</label>
          <input id="passwordConiform" type="text" class="form-control" formControlName="passwordConiform">

          <div class="text-danger mt-1 small"
            *ngIf="newPassForm.get('passwordConiform')?.touched && newPassForm.get('passwordConiform')?.errors">
            <div *ngIf="newPassForm.get('passwordConiform')?.errors?.['required']">
              Password confirm is required.
            </div>
            <div *ngIf="newPassForm.get('passwordConiform')?.errors?.['minlength']">
              Пароль должен содержать более 8 символов.
            </div>
          </div>

          <div class="text-danger mt-1 small" *ngIf="newPassForm.errors?.['passwordMismatch'] 
              && newPassForm.get('passwordConiform')?.touched">
            Пароли должны совпадать.
          </div>
        </div>

        <div class="d-grid">
          <button class="btn btn-orange" [disabled]="!newPassForm.valid">Confirm</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>